<ion-grid>
    <ion-grid>
        <ion-row>

            <ion-col size="12" size-md="3" *ngFor="let articulo of articulos">
                <p>{{articulo.nombre}}</p>
                <a [routerLink]="['/detalle', articulo.id]">
                    <img [src]="articulo.imagen" alt="{{articulo.nombre}}">
                </a>
                <p class="precio">${{articulo.precio}}</p>
                <ion-button>Agregar al Carrito</ion-button>
            </ion-col>

        </ion-row>

    </ion-grid>
</ion-grid>