<ion-grid>
    <ion-row>
        <ion-col size="12" size-md="4">
            <p>Mancuerna de metal</p>
            <img src="./assets/mancuerna.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Barra 20 kg</p>
            <img src="./assets/barra20.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Silla</p>
            <img src="./assets/sillagym.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Banca</p>
            <img src="./assets/bancagym.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Cuerdas</p>
            <img src="./assets/cuerdasgym.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Barra para ligas</p>
            <img src="./assets/barrapolea.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Barra curl de bicep</p>
            <img src="./assets/barracurl.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Straps</p>
            <img src="./assets/strapsgym.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Cinturon para peso</p>
            <img src="./assets/cintogym.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Discos</p>
            <img src="./assets/discosgym.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Ligas gym</p>
            <img src="./assets/ligasdegym.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Rueda de abdominales</p>
            <img src="./assets/ruedaaba.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Barra Z</p>
            <img src="./assets/barraZ.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Proteina Vegana</p>
            <img src="./assets/imagenes/protei.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Creatina</p>
            <img src="./assets/creatina.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Pre entreno</p>
            <img src="./assets/pre.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Rodilleras</p>
            <img src="./assets/rodillera.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Coderas</p>
            <img src="./assets/coderas.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <p>Cuerda de Saltar</p>
            <img src="./assets/cuerdasal.jpg" alt="">
            <ion-button>Agregar al Carrito</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>